@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    box-sizing: border-box;
    background-color: rgb(11, 24, 30);
    color: white;
}

*, *::before, *::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 3.5em; */
    padding: 0 1%;
    position: fixed;
    background-color: rgb(11, 24, 30);
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
}

.titulo{
    display: flex;
    align-items: center;
}

.logo{
    background-color: white;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    padding: 1em;
    margin: 2em 1em;
}


.logo > img{
    width: 100%;
}

h1{
    font-family: "Playfair Display", serif;
    font-size: 1.25em;
}

.menu{
    font-family: "Raleway",sans-serif;
    font-weight: 350;
}

.menu > a{
    margin: .2em .5em;
}

@media screen and (max-width: 580px){
    .menu{
        display: flex;
        flex-direction: column;
    }
}

section{
    min-height: 50vh;
    /* border: 5px solid white; */
}

.apresentacao{
    font-family: "Playfair Display", serif;
    margin-top: 9em;
    height: 100vh;
    background-image: linear-gradient(rgba(11, 24, 30, .5),rgba(11, 24, 30, .5)), url(./img/camp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;    
}

h2{
    font-size: 3em;
    margin: 0.9em 0;
    line-height: 1.4em;
}

.apresentacao-paragrafo{
    font-size: 1.2em;
    margin: 2.5em 0;
}

.apresentacao-container{
    width: 800px;
}

.inscreva{
    font-family: "Raleway",sans-serif;
    font-weight: normal;
    border: 1px solid #000;
    padding: .5em 1em;
    border-radius: 5px;
    color: #000;
}

.inscreva:hover{
    background-color: #000;
    color: white;
    opacity: .5;
    transition: .4s ease-in-out;
}

.testemunhos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}
.testemunhos-container{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.testemunhos-container > p{
    text-align: center;
    font-family: "Raleway",sans-serif;
    font-size: .9em;
    margin: 2em;

}

.testemunhos-container > h4 {
    font-family: "Playfair Display", serif;
    font-size: 1.1em;
}

.testemunhos-container > img{
    width: 55px;
    height: auto;
}

h3 {
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-align: center;
    margin: 2em;
}

.container-imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.galeria-imagem {
    max-width: 300px;
    opacity: .5;
}

/* .galeria-imagem:hover {
    opacity: 1;
    transition: .2s ease-in-out;
} */


.galeria-imagem-acesa {
    opacity: 1;
    transition: .4s ease-in-out;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contato-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.contato-formulario-campo {
    background-color: rgb(11, 24, 30);
    border: solid 1px #fff;
    margin-top: .5em;
    color: #fff;
    padding: 1em;
    font-size: 1em;
    font-family: "Raleway",sans-serif;
    width: 100%;
}

.contato-formulario-botao {
    background-color: #fff;
    color: #000;
    border: none;
    margin: .5em 0 .5em 85%;
    font-family: "Raleway",sans-serif;
    padding: 1em;
    width: 15%;
    cursor: pointer;
}

.contato-formulario-botao:hover {
    background-color: rgb(11, 24, 30);
    color: #fff;
    border: solid 1px #fff;
    transition: .2s ease-in-out;
}