@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    box-sizing: border-box;
    background-color: rgb(11, 24, 30);
    color: white;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: fixed;
    background-color: rgb(11, 24, 30);
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    background-color: white;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    padding: 1em;
    margin: 2em 1em;
}

.logo > img {
    width: 100%;
}

.titulo {
    display: flex;
    align-items: center;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 1.5em;
}

.menu {
    font-family: Raleway,sans-serif;
    font-weight: 200;
}

.menu > a {
    margin: .2em .5em;
}

@media screen and (max-width: 580px) {
    .menu {
        display: flex;
        flex-direction: column;
    }
}

section {
    min-height: 50vh;
    /* border: 5px solid #fff; */
}

.apresentacao {
    font-family: "Playfair Display", serif;
    margin-top: 8em;
    height: 100vh;
    background-image: linear-gradient(rgba(11,24,30,.5),rgba(11,24,30,.5)), url(./img/fogueira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

h2 {
    font-size: 4em;
    margin: .5em 0;
    line-height: 1.3em;
}

.apresentacao-paragrafo {
    font-size: 1.2em;
    margin: 2em 0;
}

.apresentacao-container {
    width: 800px;
}

.inscreva {
    font-family: Raleway, sans-serif;
    font-weight: normal;
    color: #000;
    border: 1px solid #000;
    padding: .5em 1em;
    border-radius: 5px;
}

.inscreva:hover {
    background-color: #000;
    color: #fff;
    opacity: .5;
    transition: .4s ease-in-out;
}

.testemunhos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.testemunhos-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testemunhos-container > img {
    width: 80px;
    height: auto;
    margin: 2em;
}

p {
    font-family: Raleway, sans-serif;
    font-size: .9em;
}

h4 {
    font-family: "Playfair Display", serif;
    font-size: 1.1em;
    margin: 2em;
}